<div id="bgimg"></div>
<a class="site-title" href="{{ site.baseurl }}/">
<img src="/img/default/logo.svg"></a>
<p class="address">서울시 중구 을지로 20길 24, 5층 (24, Eulji-ro 20-gil, Jung-gu, Seoul, Korea)</p>
<p class="info"><font class="sml">t.</font> 070 7762 5066  <font class="sml">e.</font> <a href="mailto:info@oneroom.pe.kr">info@oneroom.pe.kr</a>  <font class="sml">OPENING HOURS</font> Wed-Sat 01-08pm</p>

<div class="sns">
<a href="http://twitter.com/oneroom_twt">
twitter</a>
<a href="https://www.facebook.com/oneroom.pe.kr">
facebook</a>
<a href="http://instagram.com/oneroom.pe.kr">
instagram</a></div>